{% extends "main/layout.html" %}
{% block css_link %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/about.css' %}" />
{% endblock css_link %}
{% block body %}

<section class="team-section dark-section">
  <div class="container">
    <h1 class="team-title">ჩვენი გუნდი</h1>
    <div class="team-grid">
      <div class="team-member">
        <img src="{% static 'main/images/_103330503_musk3.jpg.webp' %}" alt="ნიკოლოზ გვასალია">
        <h3>ნიკოლოზ გვასალია</h3>
        <p>დამაარსებელი / team Lead / system architect/  main Backend / just Gigachad</p>
      </div>
      <div class="team-member">
        <img src="{% static 'main/images/andrew-tate-shock.png' %}" alt="საბა ცინარიძე">
        <h3>საბა ცინარიძე</h3>
        <p>Co-Founder / Frontend Lead / UI / UX / top seller/ infocigan / sigma</p>
      </div>
      <div class="team-member">
        <img src="{% static 'main/images/islam_makhachem_memeface.webp' %}" alt="ლევანა">
        <h3>ლევან ბეციაშვილი</h3>
        <p>Backend dev/ norm dude</p>
      </div>
      <div class="team-member">
        <img src="{% static 'main/images/aqua_memeface.jpg' %}" alt="ანასტასია">
        <h3>ანასტასია გურაბანიძე</h3>
        <p>...</p>
      </div>
    </div>
    <a href="{% url "main:index" %}" class="back-home">← დაბრუნება მთავარ გვერდზე</a>
  </div>
</section>
{% endblock body %}