{% extends "main/layout.html" %}
{% block css_link %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/about.css' %}" />
{% endblock css_link %}
{% block body %}

<section class="team-section dark-section">
  <div class="container">
    <h1 class="team-title">ჩვენი გუნდი</h1>
    <div class="team-grid">
      <div class="team-member">
        <img src="https://gclnk.com/g8wA4Q95" alt="ნიკოლოზ გვასალია">
        <h3>ნიკოლოზ გვასალია</h3>
        <p>დამაარსებელი / team Lead/ system architect/ main Backend</p>
      </div>
      <div class="team-member">
        <img src="https://gclnk.com/sNqvbYE4" alt="საბა ცინარიძე">
        <h3>საბა ცინარიძე</h3>
        <p>Co-Founder / Frontend Lead / UI / UX / top seller/ infocigan</p>
      </div>
      <div class="team-member">
        <img src="https://gclnk.com/6Pe3KUlN" alt="ლევანა">
        <h3>ლევან ბეციაშვილი</h3>
        <p>Backend dev</p>
      </div>
      <div class="team-member">
        <img src="https://gclnk.com/J1gOdTcn" alt="ანასტასია">
        <h3>ანასტასია გურაბანიძე</h3>
        <p>...</p>
      </div>
    </div>
    <a href="{% url "main:index" %}" class="back-home">← დაბრუნება მთავარ გვერდზე</a>
  </div>
</section>
{% endblock body %}