{% extends "main/layout.html" %}

{% block css_link %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/style.css' %}" />
{% endblock css_link %}
{% block body %}

<section class="hero">
  <div class="container">
    <h1>ივაჭრეთ კრიპტოვალუტით სწრაფად და უსაფრთხოდ</h1>
    <a href="{% url "users:sign_up" %}"><button class="cta">დაწყება</button></a>
  </div>
</section>
<section class="features">
  <div class="container">
    <div class="feature">🧾 სწრაფი ტრანზაქციები</div>
    <div class="feature">🔐 უსაფრთხოება</div>
    <div class="feature">📊 ლაივ გრაფიკები</div>
    <div class="feature">📈 მარტივი დამუშავება</div>
  </div>
</section>

<section class="chart-section">
  <iframe src="https://s.tradingview.com/widgetembed/?symbol=BITSTAMP%3ABTCUSD&interval=60&theme=dark&style=1" loading="lazy"></iframe>
</section>
<section class="cryptos">
  <div class="container">
    <h2>პოპულარული ქოინების ფასები</h2>
    <div class="grid">
      <div class="card">Bitcoin <span class="price">$104,518.9</span> <span class="change down">-1.85%</span></div>
      <div class="card">Ethereum <span class="price">$2,565.79</span> <span class="change down">-4.06%</span></div>
      <div class="card">Litecoin <span class="price">$88.32</span> <span class="change down">-8.07%</span></div>
      <div class="card">Ripple <span class="price">$2.18</span> <span class="change down">-4.55%</span></div>
      <div class="card">Pepe <span class="price">$0.0000012648</span> <span class="change down">-9.67%</span></div>
      <div class="card">Shiba Inu <span class="price">$0.00001303</span> <span class="change down">-9.36%</span></div>
    </div>
  </div>
</section>

{% endblock body %}
