<!DOCTYPE html>
<html lang="ka">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Khurmax - კრიპტო პლატფორმა</title>
  {% block css_link %}
    
  {% endblock css_link %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="container">
      <a href="{% url "main:index" %}" class="logo">
        <img src="https://gclnk.com/aLleVbxg" alt="khurmix Logo">
        <span>KhurmaX</span>
      </a>
      <nav>
        <ul>
          <li><a href="{% url "main:index" %}">მთავარი</a></li>
          <li><a href="{% url "wallet:wallet" %}">კაბინეტი/საფულე</a></li>
          <li><a href="{% url "main:about" %}">ჩვენს შესახებ</a></li>
        </ul>
      </nav>
      <div class="auth-button">
        {% if user.is_authenticated %}
          {{ user.username }}
          <form class="logout" action = {% url "users:logout" %} method = "POST">
            {% csrf_token %}
            <button class="logout_button">log out</button>
          </form>
        {% else %}
          <a href="{% url "users:sign_up" %}"><button class="register">რეგისტრაცია</button></a>
          <a href="{% url "users:login" %}"><button class="login">შესვლა</button></a>
        {% endif %}
      </div>
    </div>
  </header>
{% block body %}
  
  
{% endblock body %}

  <footer class="footer">
    <div class="container footer-container">
      <div class="footer-top">
        <a href="{% url "main:index" %}" class="logo">
          <img src="https://gclnk.com/aLleVbxg" alt="khurmix Logo">
          <span>KhurmaX</span></a>
        <div class="social-icons">
          <a href="#"><img src="https://img.icons8.com/ios-filled/24/00fff7/facebook-new.png" alt="Facebook"></a>
          <a href="#"><img src="https://img.icons8.com/ios-filled/24/00fff7/twitter.png" alt="Twitter"></a>
          <a href="#"><img src="https://img.icons8.com/ios-filled/24/00fff7/telegram-app.png" alt="Telegram"></a>
          <a href="#"><img src="https://img.icons8.com/ios-filled/24/00fff7/instagram-new.png" alt="Instagram"></a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>დაგვიკავშირდით: <a href="mailto:support@khurmax.com">support@khurmax.com</a></p>
        <p>ტელ: <a href="tel:+995500505555">(+995) 500 505 555</a></p>
        <p>© 2025 Khurmax — ყველა უფლება დაცულია</p>
      </div>
    </div>
  </footer>  
</body>
</html>  