body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.code-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 30px 0;
}

.code-input {
    width: 60px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.code-input:focus {
    border-color: #007bff;
    outline: none;
}